body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(background.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
}

ul{
  padding:0px;
}

@-webkit-keyframes fadeInAnimation { 
  0% { 
      opacity: 0;
      transform: translate(-20px, 0px); 
  } 
  100% { 
      opacity: 1; 
      transform: translate(0px, 0px);
  } 
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
      transform: translate(-20px, 0px);
  } 
  100% { 
      opacity: 1; 
      transform: translate(0px, 0px);
  } 
} 

@-webkit-keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: blue;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: blue;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}

@keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: blue;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: blue;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}